@page
@model LoginModel

@{
	ViewData["Title"] = "";
}

<h1>@ViewData["Title"]</h1>
<div class="login">
	<h2>Login</h2>
	<section>
		<form id="account" method="post">
			<input class="loginInput" type="text" asp-for="Input.UserName" placeholder="Username" required="required" /><br>
			<input class="loginInput" type="password" asp-for="Input.Password" placeholder="Password" required="required" /><br>
			<button class="loginInput" type="submit">Login</button><br>
			<label><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a></label>
		</form>
	</section>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
