@page
@model RegisterModel
@{
	ViewData["Title"] = "";
}

<h1>@ViewData["Title"]</h1>

<div class="login">
	<h2>Register</h2>
	<form method="post" asp-route-returnUrl="@Model.ReturnUrl">
		<div asp-validation-summary="All" class="text-danger">
			<input class="loginInput" type="text" asp-for="Input.FName" placeholder="First Name" required="required" /><br>
			<span asp-validation-for="Input.FName" class="text-danger"></span>
			<input class="loginInput" type="text" asp-for="Input.LName" placeholder="Last Name" required="required" /><br>
			<span asp-validation-for="Input.LName" class="table-danger"></span>
			<input class="loginInput" type="text" asp-for="Input.Email" placeholder="Email" required="required" /><br>
			<span asp-validation-for="Input.Email" class="table-danger"></span>
			<input class="loginInput" type="password" asp-for="Input.Password" placeholder="Password" required="required" /><br>
			<span asp-validation-for="Input.Password" class="table-danger"></span>
			<input class="loginInput" type="password" asp-for="Input.ConfirmPassword" placeholder="Confirm Password" required="required" /><br>
			<span asp-validation-for="Input.ConfirmPassword" class="table-danger"></span>
			<input type="hidden" asp-for="Input.Role" value="Customer" />
			<button class="loginInput btn btn-primary btn-block btn-large" type="submit">Register</button><br>
			<label><span style="font-style:italic">Already registered, </span><a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login here</a></label>
		</div>
	</form>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
